<div class="col-md-12">
<h2>
  Les partie du mois de {{month}}
  <small>
  ( {{ parties_count }} parties /
  {{#with controllers.playedGames as games}}
    {{ games.games_count}} jeux )
  {{/with}}
  </small>
</h2>
</div>
<div class="col-md-9">
  <table class="table table-bordered">
    <tbody>
    {{#each week in weeks}}
      <tr>
        {{#each day in week}}
          <td>
            {{ formatDateWith day "dd D" }} : {{day.parties.length}} partie
            <ul class="list-unstyled">
              {{#each p in day.parties }}
                <li>{{p.game.name}}</li>
                {{log g}}
              {{/each}}
              <li>
                  {{#link-to 'parties.play' day.date.d day.date.m day.date.y class="btn btn-info btn-small"}}
                    <i class="fa fa-plus"></i>
                  {{/link-to}}
              </li>
            </ul>
          </td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="col-md-3">
  {{#with controllers.playedGames as games}}
  <ul>
    {{#each game in games.played}}
      <li>{{game.name}}</li>
    {{/each}}
  </ul>
  {{/with}}
</div>
