<h1 class="page-header">
  Mes jeux
</h1>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder">
    {{pie-chart
        data=controller.controllers.gamesStats.data
        isLoaded=controller.controllers.gamesStats.model.isLoaded}}
    <h4>Publique</h4>
    <span class="text-muted">Repartion des mes jeux par public cible</span>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder">
    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder">
    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>
<div class="pull-right">
  Trier par :&nbsp;
  {{view Ember.Select
    contentBinding="sortOptions"
    value=selectedSort
    optionValuePath="content.value"
    optionLabelPath="content.label"}}
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Nom</td>
      <td>Public</td>
      <td>Temps de jeux</td>
      <td>Date Achat</td>
    </tr>
  </thead>
  <tbody>
  {{#each game in arrangedContent}}
    <tr>
      <td>{{game.game.name}}</td>
      <td>{{game.game.public_name}}</td>
      <td>{{game.game.playTime}}</td>
      <td>{{formatDate game.acquiredAt }}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
